
#evento1{
  /*  background-color: #FFE082;*/
    width: 165px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;

}
#evento1:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}

.blue_ {
    background: #f6f9fc !important;
}
.caja{
    border: solid 2px red;
    padding: 10px 20px;
}

.box_note {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background: #f9f9f9;
    position: relative;
        box-shadow: 0 2px 4px rgba(50,50,93,.2);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.box_note_shadow {
    box-shadow: 0 5px 15px rgba(0,0,0,0.25);
}
.top_note {
    width: 100%;
    padding: 20px ;
    text-align: center;
}

.body_note {
    width: 100%;
    background: #f5f5f5 !important;
    padding: 35px 20px 20px 20px ;
    border-top: 1px solid #f0f0f0;
    display:none;

}
.left_note {
    right: 15px !important;
}
.trigger_note {
    width: 45px;
    padding: 12px;
    height: 45px;
    background: #fa4331;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top:65px;
    margin-left: -25px;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.trigger_note img {

}
.rotate_ {
    -ms-transform: rotate(-180deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Safari */
    transform: rotate(-180deg);
}
.arrow_ {
    width: 3px;
}
.trigger_note:hover {
    background:  #fa7163;
}

.nota {
    width: 60%;
    height: auto;
    min-height: 200px;
    background: #f9f9f9;
    border:2px #136f9f solid;
    border-radius: 5px;
    margin: 50px auto;
    position: relative;
    padding: 40px 20px 20px 20px;
}
.nota::after {
    content:url(../img/quote.svg);
    width: 60px;
    height: 60px;
    position: absolute;
    top:-34px;
    left: 30px;
}

p > span {
    font-weight: bold;
    font-size: 21px;
    color: rgb(233, 29, 41);
}

@media (max-width: 800px) {
  .nota {
    width: 90%;
  }
}
